<%- include('./partials/header.ejs') %>
<main>
    <form action="">
        <label for="nombreID">Nombre</label>
        <input type="text" id="nombreID" name="nombre">
        <label for="emailID">Email</label>
        <input type="text" id="emailID" name="email">
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <button>Enviar</button>
    </form>
</main>
<%- include('./partials/footer.ejs') %>