<%- include('./partials/header.ejs') %>
    <main>
        <section>

            <!--
            arboles.forEach((arbol)=>{
                console.log(arbol.title)
                console.log(arbol.snippet)
            })
            -->

            <% arboles.forEach((arbol)=>{ %>
            <h3><%= arbol.title %> </h3>
            <p><%= arbol.snippet %></p>
            <%  }) %>

        </section>
    </main>
<%- include('./partials/footer.ejs') %>